body {
  margin: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.table__header {
  position: relative;
}

.table__header:nth-child(1) {
  width: 5%;
}

.table__header:nth-child(2) {
  width: 30%;
}

.table__header:nth-child(3) {
  width: 5%;
}

.table__header:nth-child(4) {
  width: 15%;
}

.table__header:nth-child(5) {
  width: 25%;
}

.table__header:nth-child(6) {
  width: 20%;
}

.table__header::after {
  position: absolute;
  top: 1px;
  right: 5px;
}

.table__header--sort-asc::after {
  content: "↓";
}

.table__header--sort-desc::after {
  content: "↑";
}

.table__header,
.table__cell {
  border: 1px solid black;
  padding: 3px 15px;
}

.table__row--active {
  background-color: #ffffff;
}

.table_input {
  width: 100%;
  font-size: 14px;
  padding: 2px 0;
}

.additions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additions__total {
  font-size: 16px;
  font-weight: bold;
}

.additions__add-button {
  font-weight: bold;
}
