{
  "presets": [
    ["@babel/preset-env", {
      // "useBuiltIns": "entry",
      // "forceAllTransforms": true,
      // "corejs": "3.0.0",
      "targets": {
        "node": "current",
        "ie": "11"
      }
    }],
    "@babel/preset-react"
  ]//,
  // "plugins": [
  //    "@babel/plugin-transform-runtime"
  //  ]
}
