@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("./fonts/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/*font-family: "Open Sans", sans-serif;*/
